{{ define "content"}}
    {{ $month := .Page.SelectedMonth }}
    <a type="button" class="btn btn-secondary" href="{{ link "EmployeesDownloadAllInvoices" "month" $month }}">Download all invoices</a>

    {{ range .Page.Invoices }}
        <table width="100%" style="margin-top: 3em;">
            <thead>
                <tr>
                    <td colspan="2">
                        <div>
                            {{ if not .PaymentChecksPassed }}
                                <span title="Suspicious amount - needs manual approval">❌</span>
                            {{ end}}
                            {{ if .Employee.GeneralSdLink }}<a class="btn btn-outline-info btn-sm" role="button" href="{{ .Employee.GeneralSdLink }}" target="_blank">General SD</a>{{ end }}
                            {{ if .Employee.PersonnelSdLink }}<a class="btn btn-outline-info btn-sm" role="button" href="{{ .Employee.PersonnelSdLink }}" target="_blank">Personnel SD</a>{{ end }}
                            {{ if .Employee.FinanceSdLink }}<a class="btn btn-outline-info btn-sm" role="button" href="{{ .Employee.FinanceSdLink }}" target="_blank">Finance SD</a>{{ end }}
                            {{ if .Employee.AclSdLink }}<a class="btn btn-outline-info btn-sm" role="button" href="{{ .Employee.AclSdLink }}" target="_blank">ACL SD</a>{{ end }}
                            <a type="button" class="btn-secondary btn-sm" href="{{ link "EmployeesDownloadInvoice" "month" $month "employee" .EmployeeName }}">Invoice</a>
                        </div>
                        <h3 style="display: inline-block">
                            {{ .EmployeeName }}
                        </h3>
                    </td>
                </tr>
            </thead>
            <tbody style="{{ if not .PaymentChecksPassed }}opacity: 0.3{{end}}">
                <tr>
                    <td width="50%">
                        <table border="1" cellspacing="0" cellpadding="2" width="600" valign="top" class="standart">
                            <thead style="font-weight: bold; background-color: #cacaca">
                                <tr>
                                    <td>Subject</td>
                                    <td width="150">RUB</td>
                                    <td width="150">EUR</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Salary <b>{{ .EmployeeName }}</b></td>
                                    <td>{{ .BaseSalary }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Bank fees</td>
                                    <td>{{ .BankFees }}</td>
                                    <td></td>
                                </tr>
                                {{ range .Corrections }}
                                    <tr>
                                        <td title="{{ .LongComment }}">{{ .LongComment }}</td>
                                        <td>{{ .TotalCorrectionRub }}</td>
                                        <td></td>
                                    </tr>
                                {{ end }}
                                {{ if ne .PatentRub 0 }}
                                    <tr>
                                        <td>Patent</td>
                                        <td>{{ .PatentRub }}</td>
                                        <td></td>
                                    </tr>
                                {{ end }}
                                {{ if ne .TaxesRub 0 }}
                                    <tr>
                                        <td>Taxes</td>
                                        <td>{{ .TaxesRub }}</td>
                                        <td></td>
                                    </tr>
                                {{ end }}
                                {{ if ne .UnpaidDay 0 }}
                                    <tr>
                                        <td>Unpaid day offs</td>
                                        <td> -{{ .UnpaidDay }}</td>
                                        <td></td>
                                    </tr>
                                {{ end }}
                                <tr>
                                    <td>
                                        <p>Currency rate variance from previous month</p>
                                        {{ if .PrevInvoice }}
                                            <p>
                                                Expected EURRUB {{ .PrevInvoice.EurRubExpected }}<br>
                                                Actual EURRUB {{ .PrevInvoice.EurRubActual }}
                                            </p>
                                        {{ end }}
                                    </td>
                                    <td>{{ .RateErrorPrevMon }}</td>
                                    <td></td>
                                </tr>
                                {{ if ne .SelfEmployedTax 0 }}
                                    <tr>
                                        <td>Self-employed tax (6%)</td>
                                        <td>{{ .SelfEmployedTax }}</td>
                                        <td></td>
                                    </tr>
                                {{ end }}
                                <tr>
                                    <td>Subtotal (EURRUB {{ .EurRubExpected }})</td>
                                    <td>{{ .AmountRub }}</td>
                                    <td>{{ .RequestedSubtotalEur }}</td>
                                </tr>
                                <tr>
                                    <td>Rounding in previous month</td>
                                    <td></td>
                                    <td> -{{ .RoundingPrevMonEur }}</td>
                                </tr>
                                <tr>
                                    <td>Rounding</td>
                                    <td></td>
                                    <td>{{ .Rounding }}</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td></td>
                                    <td>{{ .AmountRequestedEur }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <p>Invoice for {{ .FullMonthName }}</p>
                        <p>Full Name of the vendor/provider: {{ .Employee.EnglishFullName }}</p>
                        <p>Amount and currency: EUR {{ .AmountRequestedEur }}</p>
                        <p>Date of invoice: {{ .DateFull }}</p>
                        <p>Date of payment: {{ .DatePayment }}</p>
                        <p>Specify if it's a one-time payment or recurring: recurring</p>
                        <p>Bank details of the supplier (if this info is not included on the invoice): included in the invoice</p>
                        <p>Attach the invoice/agreement that relates to the payment request: attached</p>
                        {{ if .Employee.GeneralSdLink }}
                            <p></p>
                            <p><a href="{{ .Employee.GeneralSdLink }}">Calculation details</a></p>
                        {{ end }}
                    </td>
                </tr>
            </tbody>
        </table>
    {{ end }}
{{end}}
