{{ define "title"}}Employees{{end}}

{{ define "sidebar"}}
    {{ $page := .Page }}
    {{ range .Page.Months }}
        <a class="nav-link {{ if $page.IsMonthSelected . }}active{{ end }}" href="{{ link "EmployeesMonth" "month" .ID }}">{{ .ID }}{{ if .Current }}<span title="Current month"> (today)</span>{{end}}</a>
    {{ end }}
{{end}}

{{ define "content"}}
    {{ if .Page.Error }}
        <div class="alert alert-danger" role="alert">{{ .Page.Error }}</div>
    {{ else }}
        Select the date of invoices in the sidebar
    {{ end }}
{{end}}
