{{ define "sidebar_custom"}}
    <hr>
    <ul class="sticky-top">
        <li><a href="#bulk-operations">Bulk operations</a></li>
        {{ range .Page.Invoices }}
        <li><a href="#{{ .EmployeeNameSlug }}">{{ .EmployeeName }}</a></li>
        {{ end }}
    </ul>
{{ end}}

{{ define "content"}}
    {{ $month := .Page.SelectedMonth }}

    <h3 id="bulk-operations">Bulk operations</h3>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{{ link "EmployeesDownloadAllInvoices" "month" $month }}">Download all invoices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ link "EmployeesDownloadPayrollReport" "month" $month }}">Download Payroll Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ link "EmployeesDownloadHellenicPayroll" "month" $month }}">Hellenic payroll file</a>
        </li>
    </ul>

    <script>
        const copyWithStyle = (element, button) => {
            console.log('copyWithStyle', element, button);
            const doc = document;
            let range;
            let selection;

            if (doc.body.createTextRange) {
                range = doc.body.createTextRange();
                range.moveToElement(element);
                range.select();
            } else if (window.getSelection) {
                selection = window.getSelection();

                range = doc.createRange();
                range.selectNodeContents(element);

                selection.removeAllRanges();
                selection.addRange(range);
            }

            document.execCommand('copy');
            window.getSelection().removeAllRanges();

            const oldValue = button.value
            button.value = 'Copied!';
            setTimeout(() => {
                button.value = oldValue
            }, 5000)
        }
    </script>

    {{ range .Page.Invoices }}
        <table width="100%" style="margin-top: 3em;">
            <thead>
                <tr>
                    <td colspan="2">
                        <div>
                            {{ if not .PaymentChecksPassed }}
                                <span title="Suspicious amount - needs manual approval">❌</span>
                            {{ end}}
                            {{ if .Employee.GeneralSdLink }}<a class="btn btn-outline-info btn-sm"
                                                               role="button"
                                                               href="{{ .Employee.GeneralSdLink }}"
                                                               target="_blank"
                            >General SD</a>{{ end }}
                            {{ if .Employee.PersonnelSdLink }}<a class="btn btn-outline-info btn-sm"
                                                                 role="button"
                                                                 href="{{ .Employee.PersonnelSdLink }}"
                                                                 target="_blank"
                            >Personnel SD</a>{{ end }}
                            {{ if .Employee.FinanceSdLink }}<a class="btn btn-outline-info btn-sm"
                                                               role="button"
                                                               href="{{ .Employee.FinanceSdLink }}"
                                                               target="_blank"
                            >Finance SD</a>{{ end }}
                            {{ if .Employee.AclSdLink }}<a class="btn btn-outline-info btn-sm"
                                                           role="button"
                                                           href="{{ .Employee.AclSdLink }}"
                                                           target="_blank"
                            >ACL SD</a>{{ end }}
                            <a type="button"
                               class="btn btn-secondary btn-sm"
                               href="{{ link "EmployeesDownloadInvoice" "month" $month "employee" .EmployeeName }}"
                            >Invoice</a>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody style="{{ if not .PaymentChecksPassed }}opacity: 0.3{{end}}">
                <tr>
                    <td>
                        <input class="btn btn-outline-info btn-sm"
                               type="button"
                               title="Copy"
                               value="📰"
                               onclick="copyWithStyle(this.nextElementSibling, this)"
                        >
                        <div>
                            <h3 style="display: inline-block" id="{{ .EmployeeNameSlug }}">
                                {{ .EmployeeName }}
                            </h3>
                            <table border="1" cellspacing="0" cellpadding="2" width="800" valign="top" class="standart">
                                <thead style="font-weight: bold; background-color: #cacaca">
                                    <tr>
                                        <td>Subject</td>
                                        <td width="150">RUB</td>
                                        <td width="150">EUR</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Salary <b>{{ .EmployeeName }}</b> {{ $month }}</td>
                                        <td>{{ if .BaseSalaryRub }}{{ .BaseSalaryRub }}{{ end }}</td>
                                        <td>{{ if .BaseSalaryEur }}{{ .BaseSalaryEur }}{{ end }}</td>
                                    </tr>
                                    {{ if .BankFees }}
                                    <tr>
                                        <td>Bank fees</td>
                                        <td>{{ .BankFees }}</td>
                                        <td></td>
                                    </tr>
                                    {{ end }}
                                    {{ range .Corrections }}
                                        <tr>
                                            <td title="{{ .LongComment }}">{{ .LongComment }}</td>
                                            <td>{{ .TotalCorrectionRub }}</td>
                                            <td>{{ if .AbsoluteCorrectionEur }}<i>For&nbsp;reference: {{ .AbsoluteCorrectionEur }}</i>{{ end }}</td>
                                        </tr>
                                    {{ end }}
                                    {{ if ne .PatentRub 0 }}
                                        <tr>
                                            <td>Patent</td>
                                            <td>{{ .PatentRub }}</td>
                                            <td></td>
                                        </tr>
                                    {{ end }}
                                    {{ if ne .TaxesRub 0 }}
                                        <tr>
                                            <td>Taxes</td>
                                            <td>{{ .TaxesRub }}</td>
                                            <td></td>
                                        </tr>
                                    {{ end }}
                                    <tr>
                                        <td>
                                            <p>Currency rate variance from previous month</p>
                                            {{ if .PrevInvoice }}
                                                <p>
                                                    Expected EURRUB {{ .PrevInvoice.EurRubExpected }}<br>
                                                    Actual EURRUB {{ .PrevInvoice.EurRubActual }}
                                                </p>
                                            {{ end }}
                                        </td>
                                        <td>{{ .RateErrorPrevMon }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Subtotal (EURRUB {{ .EurRubExpected }})</td>
                                        <td>{{ .RequestedSubtotalRub }}</td>
                                        <td>{{ .RequestedSubtotalEur }}</td>
                                    </tr>
                                    {{ if .RoundingPrevMonEur }}
                                    <tr>
                                        <td>Rounding in previous month</td>
                                        <td></td>
                                        <td> -{{ .RoundingPrevMonEur }}</td>
                                    </tr>
                                    {{ end }}
                                    <tr>
                                        <td>Rounding</td>
                                        <td></td>
                                        <td>{{ .Rounding }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td></td>
                                        <td>{{ .AmountRequestedEur }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td width="500">
                        <input class="btn btn-outline-info btn-sm"
                               type="button"
                               title="Copy"
                               value="📰"
                               onclick="copyWithStyle(this.nextElementSibling, this)"
                        >
                        <div>
                            <p>Invoice for {{ .FullMonthName }}</p>
                            <div class="code" style="background-color: #fbf9f5; border: 1px solid #b3b3b3; font-size:12px; font-family: monospace;">
                                Full Name of the vendor/provider: {{ .Employee.EnglishFullName }}<br>
                                Amount and currency: EUR {{ .AmountRequestedEur }}<br>
                                Date of invoice: {{ .DateFull }}<br>
                                Date of payment: {{ .DatePayment }}<br>
                                Specify if it's a one-time payment or recurring: recurring<br>
                                Bank details of the supplier (if this info is not included on the invoice): included in the invoice<br>
                                Attach the invoice/agreement that relates to the payment request: attached<br>
                            </div>
                            {{ if .Employee.GeneralSdLink }}
                                <p></p>
                                <p><a href="{{ .Employee.GeneralSdLink }}">Calculation details</a></p>
                            {{ end }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {{ end }}
{{end}}
